/.vs
/.vscode
/Library
/Logs
/obj
/UserSettings
TechnicalNote.sln
Unity.Postprocessing.Editor.csproj
Unity.Postprocessing.Editor.Tests.csproj
Unity.Postprocessing.Runtime.csproj
Unity.Postprocessing.Runtime.Tests.csproj
Unity.Rider.Editor.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.Editor.Tests.csproj
Unity.TextMeshPro.Tests.csproj
UnityEditor.SpatialTracking.csproj
UnityEditor.TestRunner.csproj
UnityEditor.XR.LegacyInputHelpers.csproj
UnityEditor.XR.LegacyInputHelpers.Tests.csproj
UnityEngine.SpatialTracking.csproj
UnityEngine.SpatialTracking.Tests.csproj
UnityEngine.TestRunner.csproj
UnityEngine.XR.LegacyInputHelpers.csproj
*.csproj
